    <table *ngFor="let card of cardlist">
        <tr>
            <td>Card Number</td>
            <!-- <td>{{card.Card_Number}}</td> -->
        </tr>
        <tr>
            <td>Email</td>
            <!-- <td>{{card.Email}}</td> -->
        </tr>
        <tr>
            <td>Name</td>
            <!-- <td>{{card.Name}}</td> -->
        </tr>
        <tr>
            <td>Valid Till</td>
            <!-- <td>{{card.Valid_Till}}</td> -->
        </tr>
        <tr>
            <td>Card Type</td>
            <!-- <td>{{card.Card_Type}}</td> -->
        </tr>
    </table>